
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    color: white;
    text-align: center;
    
  background-image: url("Back.jpg");

}

.logo img {
    width: 160px;
}

.hero {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}

.hero img {
    width: 100%;
    border-radius: 10px;
}
img {
    width: 350px;  /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border: 1px;
    
    border-radius: 15px; /* Adjust for roundness */
    object-fit: cover; /* Ensures the image maintains aspect ratio */
}
.btn {
    background: #ff00ff;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.gallery {
    margin-top: 30px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.image-grid img {
    width: 100%;
    border-radius: 10px;
}
.card{
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 50px;
}
